@{
    ViewData["Title"] = "Deploy 2 Org";
}

<div class="row">
    <div class="col-sm">
        <h1 class="font-weight-light">About</h1>

        <p>
            <b>deploy2.org</b> is a tool that help you deploy an application or component to your Salesforce Org directly from Github.
            When you login with your Salesforce credentials, you generate an access token that is used to create the components in your Salesofrce Org.
            This access token is only used during the deployment process and is stored in a browser cookie; it is not stored anywhere else.
        </p>

        <p>This project is inspired by <a href="https://deploy-to-sfdx.com/">Deploy to Salesofrce DX</a> project. We created it initially to deploy our own components from our <a href="https://github.com/Chaos-Tech-Corp" target="_blank">Github Repositories</a> but opened it now to the public.</p>

        <p>There is no official support, but you can log and issue at <a href="https://github.com/Chaos-Tech-Corp/Deploy-2-Org/issues" target="_blank">https://github.com/Chaos-Tech-Corp/Deploy-2-Org/issues</a>. While every effort is made to ensure it operates without error, please <b>use at your own risk</b>.</p>

        <h2 class="font-weight-light">Want to try your own repo?</h2>

        <p>Just add the [] button. <a href="/home/details">Learn more</a>.</p>

    </div>
    <div class="col-sm">
    </div>
</div>