@{
    ViewData["Title"] = "deploy2.org";
}

<div class="row">
    <div class="col-sm">
        <h1 class="font-weight-light">Use it on your oen repo</h1>

        <p>
            Add the following button to your Github repo README:
        </p>
        <pre><code>[![Deploy](https://deploy2.org/images/deploy2org.png)](https://deploy2.org)</code></pre>

        <p>.</p>

        

    </div>
    <div class="col-sm">
    </div>
</div>