/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.navbar-brand img {
    max-height:48px;
}


.form-element {
    flex-basis: 0%;
    margin-bottom: 0;
    position: relative;
    min-width: 0;
}

.form-element_stacked {
    width: 100%;
    flex-basis: 100%;
    padding: 0 .25rem;
    margin-bottom: .5rem;
    display: block;
}

.form-element_label {
    margin-bottom: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    display: inline-block;
    color: #3e3e3c;
    font-size: .75rem;
    padding-right: .5rem;
    padding-top: .25rem;
    margin-bottom: .125rem;
}

.form-element_control {
    padding-top: .125rem;
    padding-bottom: .125rem;
    clear: left;
    position: relative;
    border-bottom: 1px solid #dddbda;
}

.form-element_static {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    display: inline-block;
    font-size: .875rem;
    font-weight: 400;
    color: #080707;
    width: 100%;
}

.form-element_error {
    color: #c23934;
    font-size: .75rem;
    margin-top: .125rem;
    display: block;
}