/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html, body {
    margin:0;
    padding:0;
    height:100%;
    position:relative;
}
html {
  font-size: 14px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

body > div {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 65px; /* height of your footer */
}

.footer {
    width: 100%;
    line-height: 24px;
    padding: 8px 0;
    position: absolute;
    bottom: 0;
}

.navbar-brand img {
    max-height:48px;
}



.markdown-body h2 {
    font-size: 1.5em;
}

.markdown-body h1, .markdown-body h2 {
    padding-bottom: .3em;
    border-bottom: 1px solid #eaecef;
}

.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.markdown-body blockquote, .markdown-body details, .markdown-body dl, .markdown-body ol, .markdown-body p, .markdown-body pre, .markdown-body table, .markdown-body ul {
    margin-top: 0;
    margin-bottom: 16px;
}

.markdown-body code, .markdown-body tt {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,.05);
    border-radius: 3px;
}

code, pre, tt {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 12px;
}

.markdown-body .highlight pre, .markdown-body pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
}

.markdown-body .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

.markdown-body pre {
    word-wrap: normal;
}

.markdown-body ol, .markdown-body ul {
    padding-left: 2em;
}

.markdown-body li {
    padding-top: 2px;
    padding-bottom: 2px;
}

.markdown-body blockquote, .markdown-body details, .markdown-body dl, .markdown-body ol, .markdown-body p, .markdown-body pre, .markdown-body table, .markdown-body ul {
    margin-top: 0;
    margin-bottom: 16px;
}

.markdown-body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

    .markdown-body table {
        display: block;
        width: 100%;
        overflow: auto;
    }

        .markdown-body table tr {
            background-color: #fff;
            border-top: 1px solid #c6cbd1;
        }

        .markdown-body table td, .markdown-body table th {
            padding: 6px 13px;
            border: 1px solid #dfe2e5;
        }

        .markdown-body table th {
            font-weight: 600;
        }

        .markdown-body table td, .markdown-body table th {
            padding: 6px 13px;
            border: 1px solid #dfe2e5;
        }

.form-element {
    flex-basis: 0%;
    margin-bottom: 0;
    position: relative;
    min-width: 0;
}


.form-element_stacked {
    width: 100%;
    flex-basis: 100%;
    padding: 0 .25rem;
    margin-bottom: .5rem;
    display: block;
}

.form-element_label {
    margin-bottom: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    display: inline-block;
    color: #3e3e3c;
    font-size: .75rem;
    padding-right: .5rem;
    padding-top: .25rem;
    margin-bottom: .125rem;
}

.form-input {
    background-color: #fff;
    border: 1px solid #dddbda;
    border-radius: .25rem;
    width: 100%;
    transition: border .1s linear,background-color .1s linear;
    display: inline-block;
    padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
    min-height: calc(1.875rem + 2px);
}
}

.form-element_control {
    padding-top: .125rem;
    padding-bottom: .125rem;
    clear: left;
    position: relative;
    border-bottom: 1px solid #dddbda;
}

.form-element_static {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    display: inline-block;
    font-size: .875rem;
    font-weight: 400;
    color: #080707;
    width: 100%;
}

.form-element_error {
    color: #c23934;
    font-size: .75rem;
    margin-top: .125rem;
    display: block;
}

.the-arrow {
    width: 128px;
    transition: all 0.2s;
}

    .the-arrow.-right {
        top: 3px;
    }

        .the-arrow.-right > .shaft {
            width: 128px;
            transition-delay: 0.2s;
        }

            .the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
                width: 8px;
                transition-delay: 0.3s;
                transition: all 0.5s;
            }

            .the-arrow.-right > .shaft:before {
                -webkit-transform: rotate(40deg);
                transform: rotate(40deg);
            }

            .the-arrow.-right > .shaft:after {
                -webkit-transform: rotate(-40deg);
                transform: rotate(-40deg);
            }

    .the-arrow > .shaft {
        background-color: #999;
        display: block;
        height: 1px;
        position: relative;
        transition: all 0.2s;
        transition-delay: 0;
        will-change: transform;
    }

        .the-arrow > .shaft:before, .the-arrow > .shaft:after {
            background-color: #999;
            content: '';
            display: block;
            height: 1px;
            position: absolute;
            top: 0;
            right: 0;
            transition: all 0.2s;
            transition-delay: 0;
        }

        .the-arrow > .shaft:before {
            -webkit-transform-origin: top right;
            transform-origin: top right;
        }

        .the-arrow > .shaft:after {
            -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
        }


.icon-home {
    font-size: 64px;
    transition: all 0.2s;
    border-radius: 50%;
    background: #f4f7fd;
    width: 128px;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    .the-arrow {
        width: 64px;
    }

        .the-arrow.-right > .shaft {
            width: 64px;
        }

    .icon-home {
        width: 90px;
        height: 90px;
        font-size: 50px;
    }
}

@media (max-width: 425px) {
    .the-arrow {
        width: 64px;
    }

        .the-arrow.-right > .shaft {
            width: 64px;
        }
    .icon-home {
        width: 80px;
        height: 80px;
        font-size: 48px;
    }
}

@media (max-width: 375px) {
    .the-arrow {
        width: 48px;
    }

        .the-arrow.-right > .shaft {
            width: 48px;
        }
    .icon-home {
        width: 70px;
        height: 70px;
        font-size: 44px;
    }
}

@media (max-width: 320px) {
    .the-arrow {
        width: 32px;
    }

        .the-arrow.-right > .shaft {
            width: 32px;
        }

    .icon-home {
        width: 66px;
        height: 66px;
        font-size: 42px;
    }
}
